@use "../global" as *;

/* Archivo (Reguläre Schrift) */
@font-face {
	font-family: "Archivo";
	font-weight: 400;
	font-style: normal;
	src: url("#{$fontsPath}Archivo-Regular.ttf") format("truetype");
}

/* Spectral (Reguläre Schrift) */
@font-face {
	font-family: "Spectral";
	font-weight: 400;
	font-style: normal;
	src: url("#{$fontsPath}Spectral-Regular.ttf") format("truetype");
}

/* Roboto Mono (Variable Font mit vollem Gewichtsbereich) */
@font-face {
	font-family: "Roboto Mono";
	font-weight: 100 700;
	font-style: normal;
	src: url("#{$fontsPath}RobotoMono-VariableFont_wght.ttf") format("truetype");
}

/* Roboto Mono (Kursiv, falls vorhanden) */
@font-face {
	font-family: "Roboto Mono";
	font-weight: 100 700;
	font-style: italic;
	src: url("#{$fontsPath}RobotoMono-VariableFont_wght.ttf") format("truetype");
}
