@use "../global" as *;

.valign,
%valign {
	&--center {
		align-items: center;
	}
}

.offset--top {
	&__sm {
		margin-top: $s-sm;
	}

	&__md {
		margin-top: $s-md;
	}
}

.spacer {
	display: block;
	width: 100%;

	&--small {
		height: $s-sm;
	}

	&--medium {
		height: $s-md;
	}

	&--large {
		height: $s-lg;
	}
}
