@use "../global" as *;

.valign,
%valign {
	&--center {
		align-items: center;
	}
}

.offset--top {
	&__sm {
		margin-top: $s-sm;
	}

	&__md {
		margin-top: $s-md;
	}
}

.spacer {
	display: block;
	width: 100%;
	padding: 0 auto;
	border-radius: 10px;

	display: flex;

	&--small {
		height: $s-sm;
	}

	&--medium {
		height: $s-md;
	}

	&--large {
		height: $s-lg;
	}
}

.c-border {
	.wp-block-separator {
		border-top: $b-border;
		margin: 0;
	}
}

.d-none {
	display: none;
}

.custom-site-footer .site-info {
	@include mq($until: $mobile) {
		font-size: 10px !important;
		a {
			font-size: 10px !important;
		}
	}
}
.section-c-padding {
	&--top {
		padding: calc(var(--grid-gap) / 2) 0 0 0;
	}
	&--mid {
		padding: calc(var(--grid-gap) / 2) 0 calc(var(--grid-gap) / 2) 0;
	}
	&--bottom {
		padding: 0 0 calc(var(--grid-gap) / 2) 0;
	}
}

// Prevent layout shifts before content loads
@supports (contain-intrinsic-size: 300px 1500px) {
	.lazy-wrapper {
		contain: size;
		contain-intrinsic-size: 300px 1500px;
	}
}
