@use "../../global" as *;

.project-wrapper {
	.project-grid {
		display: grid;
		gap: $grid-gap;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"lefttop righttop"
			"lefttop rightbot"
			"leftbot rightbot";
		grid-auto-rows: 1fr;

		@include mq($until: $laptop) {
			grid-template-columns: 1fr;
			grid-template-areas:
				"lefttop"
				"righttop"
				"rightbot"
				"leftbot";
			grid-auto-rows: auto; // Passt die Höhe automatisch an den Inhalt an
		}
	}

	.project:nth-child(1) {
		grid-area: lefttop;
	}

	.project:nth-child(2) {
		grid-area: righttop;
	}

	.project:nth-child(3) {
		grid-area: rightbot;
	}

	.project {
		h3 {
			margin-top: 20px;
			margin-bottom: 10px;
			a {
				@include no-link-color();
			}
		}
		p {
			text-transform: uppercase;
		}
	}

	.button-container {
		text-align: center;
		grid-area: leftbot;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include mq($until: $laptop) {
			margin-bottom: $grid-gap;
		}
	}
}

.gallery-looper {
	.gallery-item {
		position: relative;
		a {
			color: transparent;
			background: transparent;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
