@use "../../global" as *;
.project-wrapper {
	.project-grid {
		display: grid;
		gap: $grid-gap;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"lefttop righttop"
			"leftbot righttop"
			"leftbot rightbot";
		grid-auto-rows: 1fr;
		grid-auto-rows: auto;

		@include mq($until: $tablet) {
			grid-template-columns: 1fr;
			grid-template-areas:
				"lefttop"
				"righttop"
				"leftbot"
				"rightbot";
			grid-auto-rows: auto;
		}
	}

	.project:nth-child(1) {
		grid-area: righttop;
	}

	.project:nth-child(2) {
		grid-area: lefttop;
	}

	.project:nth-child(3) {
		grid-area: leftbot;
	}

	.project {
		.content-wrapper {
		}
		@include titelStyle();
	}

	.button-container {
		text-align: center;

		grid-area: rightbot;

		// Button-Container
		> div:first-child {
			margin: 0 auto; // Zentrieren
		}

		@media (min-width: 1200px) and (max-width: 1920px) {
			.spacer {
				height: clamp(50px, 6vw, 230px);
			}
		}
		@media (min-width: 1921px) {
			.spacer {
				height: 280px;
			}
		}

		@include mq($until: $laptop) {
			justify-content: center;
			margin-bottom: $grid-gap;

			.spacer {
				display: none; // Auf Mobilgeräten ausblenden
			}
		}
		@include mq($until: $mobile) {
			text-align: left;
		}
	}
}

.gallery-looper {
	.gallery-item {
		position: relative;
		a {
			color: transparent;
			background: transparent;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
