@use "../../global" as *;

.collection-wrapper {
	.wc-block-components-notices {
		display: none;
	}
	.collections-list {
		display: flex;
		justify-content: space-between;
		.product-grid {
			display: grid !important;
			width: 80%;
			grid-template-columns: repeat(3, 1fr) !important;
			gap: $grid-gap !important;

			.product {
				.wc-block-components-product-image {
					img {
						aspect-ratio: 1 / 1.5;
					}
				}

				@include titelStyle();
			}
		}

		.button-container {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}

	@include mq($until: $wide) {
		.collections-list {
			display: block;
			position: relative;
			.product-grid {
				width: 100%;
				grid-template-columns: repeat(2, 1fr) !important;

				.product {
					.wc-block-components-product-image {
						img {
						}
					}
				}
			}
			.button-container {
				position: absolute;
				right: 10%;
				bottom: 25%;
			}
		}
	}

	@include mq($until: $tablet) {
		.collections-list {
			.product-grid {
				width: 100%;
				grid-template-columns: repeat(1, 1fr) !important;

				.product {
					.wc-block-components-product-image {
						img {
						}
					}
				}
			}
			.button-container {
				position: relative;
				right: unset;
				bottom: unset;
				padding: $grid-gap 0 $grid-gap 0;
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}
