@use "../../global" as *;

.collection-overview {
	.collections-list {
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $grid-gap;

			@include mq($until: $laptop) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include mq($until: $tablet) {
				grid-template-columns: repeat(1, 1fr);
			}

			li {
				.wc-block-components-product-image {
					position: relative;
					width: 100%;
					aspect-ratio: 1 / 1.5;
					overflow: hidden;

					a {
						display: block;
						width: 100%;
						height: 100%;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}

				.content {
					position: relative;

					@include titelStyle();

					.price {
						margin-top: 20px;
						margin-bottom: 10px;
						color: $c-headline;
						font-size: 28px;

						.price {
							position: absolute;
							top: 0;
							right: 0;
						}
					}
				}
			}
		}
	}

	@include mq($until: $laptop) {
		.collections-list {
			ul {
				margin-left: 0px;

				li {
					.wc-block-components-product-image {
						a {
							img {
							}
						}
					}

					.content {
					}
				}
			}
		}
	}
}
