@use "../../global" as *;

.dbw-custom-product-container {
	.product {
		display: flex;
		flex-direction: row-reverse; // Galerie rechts, Summary links (Desktop-Default)

		.dbw-product-title-image {
			display: none; // Standardmäßig ausblenden (nur für Mobile sichtbar)
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}

		.dbw-product-gallery {
			flex: 1;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.dbw-product-image {
				width: 100%;
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.summary {
			flex: 1;
			border-top: $b-border;
			position: sticky;
			top: 150px;
			max-height: calc(100vh - 50px);
			overflow: auto;
			padding: 50px 0;
			margin: 0 $contentPadding;
			display: flex;
			flex-direction: column;

			> * {
				max-width: 80%;
			}

			.product_title {
				order: 1;
				font-family: var(--gp-font--spectral);
			}

			.dbw-product-attributes {
				display: none;
			}

			.price {
				order: 3;
				margin-bottom: 0;
				font-size: $f-sizeBody;
				.woocommerce-Price-amount {
					color: $c-black;
				}
			}

			.legal-price-info {
				order: 4;
				margin-bottom: 50px;
				.woocommerce-Price-amount {
					color: $c-black;
				}
			}

			.woocommerce-product-details__short-description {
				order: 2;

				p {
					font-size: 22px;
					font-weight: bold;
				}
			}

			.dbw-product-info-container {
				order: 5;
				margin-bottom: 75px;
				h3 {
					display: none;
				}
			}

			.variations_form {
				order: 6;
				.variations {
					tbody {
						display: grid;
						grid-template-columns: repeat(
							auto-fit,
							minmax(175px, 1fr)
						); // Mindestens 175px pro Spalte, automatisch umbrechen
						grid-template-rows: auto;
						grid-column-gap: 30px;
						grid-row-gap: 30px;
						width: 100%;

						tr {
							display: flex;
							flex-direction: column;
							flex: 1;
							text-align: left;
							border-top: 1px solid $c-black;
							padding-bottom: 10px;

							th.label {
								font-weight: bold;
								font-size: $f-sizeBodySmall;
								text-transform: uppercase;
							}
							td.value {
								position: relative;
								select {
									border: none;
									background: none;
									padding: 5px;
									cursor: pointer;
									width: 100%;
									font-size: $f-sizeBody;
									appearance: none;
									position: relative;
								}

								.reset_variations {
									display: none;
								}
								&::after {
									content: "";
									background: url("#{$iconsPath}chevron.svg") no-repeat center;
									background-size: contain;
									width: 18px;
									height: 18px;
									position: absolute;
									right: 10px;
									top: 25px;
									transform: translateY(-50%);
									pointer-events: none;
								}
							}
						}
					}
				}
			}

			.single_variation_wrap {
				order: 7;
				.woocommerce-variation-add-to-cart {
					display: flex;
					flex-direction: column;
					gap: 15px;

					label.dbw-quantity-label {
						font-size: $f-sizeBodySmall;
						font-weight: bold;
						text-transform: uppercase;
					}

					.quantity input {
						width: 50px;
						padding: 8px;
						text-align: center;
						border: 1px solid $c-black;
						background-color: transparent;
					}

					.single_add_to_cart_button {
					}
				}
			}

			.wcpay-express-checkout-wrapper {
				order: 8;
			}

			.ppcp-messages {
				order: 9;
			}

			.ppc-button-wrapper {
				order: 10;
			}

			.product_meta {
				display: none;
			}
		}

		@media (max-width: 1600px) {
			.summary {
				> * {
				}
			}
		}

		@media (max-width: 1400px) {
			.summary {
				> * {
					max-width: 90%;
				}
			}
		}

		// Mobile-Layout (unter 1200px)
		@media (max-width: $laptop) {
			flex-direction: column; // Vertikale Anordnung

			.dbw-product-title-image {
				display: block; // Titelbild separat anzeigen
				order: 1;
				img {
					aspect-ratio: unset;
					object-fit: cover;
				}
			}

			.summary {
				border-top: none;
				max-height: fit-content;
				display: block;
				margin: $grid-gap 0;
				margin-bottom: $grid-gap !important;
				padding: 0;
				order: 2;
				width: 100% !important;
				min-height: 100%;
				position: static;
				overflow: visible;
				> * {
					max-width: 100%;
				}
			}

			.dbw-product-gallery {
				order: 3;
				.dbw-product-image:first-child {
					display: none; // Hauptbild in der Galerie ausblenden, da separat oben
				}
			}
		}

		@media (max-width: $mobile) {
			.summary {
			}
		}
	}
}

.product_cat-coming-soon {
	.dbw-variations-info {
		display: none;
	}

	.wc-coming-soon-notice {
		order: 3;
	}

	.coming-soon-contact {
		font-size: 20px;
		order: 6;
	}
}

.woocommerce-breadcrumb {
	display: none;
}

.woocommerce-message {
	border-top-color: $c-black;
	border-top: 1px;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-top: 1px solid $c-black;
	border-bottom: 1px solid $c-black;
	border-color: $c-black;
	background-color: $c-white;
}
