@use "../../global" as *;

.collection-overview {
	.collections-list {
		ul {
			margin-left: 400px;

			li {
				.content {
					position: relative;

					h2 {
						color: $c-headline;
						font-size: 28px;
						a {
							color: $c-headline;
						}
					}

					.price {
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
		}
	}
}

.collection-wrapper {
	.button-container {
		justify-content: center;
	}
}
