@use "../variables" as *;

@mixin no-link-color() {
	color: $c-body;
	transition: color 0.3s ease;

	&:hover {
		color: $c-body;
		text-decoration: none;
	}
}

@mixin titelStyle($fontType: "sans") {
	$font-family: if(
		$fontType == "serifen",
		var(--gp-font--spectral),
		var(--gp-font--archivo)
	);

	h3,
	h4 {
		margin-top: 20px;
		font-size: $f-sizeBodyMedium;
		margin-bottom: 2px;
		font-family: var(--gp-font--spectral);
		font-weight: 700 !important;
	}

	a {
		font-family: var(--gp-font--spectral);
		@include no-link-color();
	}

	p {
		margin-bottom: 0;
	}
}
