@use "../global" as *;

#contact-popup {
	background-color: $c-primary;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100lvh;
	height: 100dvh;
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;

	// Animiertes Popup-Fenster
	.popup-content {
		min-height: 70vh !important;
		min-height: 70lvh !important;
		min-height: 70dvh !important;

		position: relative;
		transform: translate(50vw, -50vh);
		opacity: 0;
		transition:
			transform 0.5s cubic-bezier(0.25, 1, 0.5, 1),
			opacity 0.5s ease;

		.grid {
			min-height: 70vh !important;
			min-height: 70lvh !important;
			min-height: 70dvh !important;

			.item-2 {
				position: relative;
				.close-popup {
					cursor: pointer;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					padding: 0;
					margin: 0;
					background-color: transparent;
					svg {
						pointer-events: none;
					}

					&::before {
						content: "";
						position: absolute;
						top: -20px;
						left: -20px;
						right: -20px;
						bottom: -20px;
						background: transparent; /* Unsichtbar */
					}
				}
			}

			.item-4 {
				p {
					font-size: 20px;
					font-weight: bold;
					gap: 0;
					a {
						font-size: 28px;
						font-weight: normal;
						margin-left: 10px;
					}
				}
			}
		}

		.legal {
			justify-content: space-between;
		}
	}

	&.open {
		visibility: visible;
		opacity: 1;
		z-index: 100002;

		.popup-content {
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	@include mq($until: $laptop) {
	}

	@include mq($until: $phablet) {
		img {
			width: 90px;
		}
		.popup-content .grid .item-4 {
			p {
				font-size: $f-sizeBodySmall;

				a {
					font-size: $f-sizeBody;
				}
			}
		}
	}

	@include mq($until: $mobile) {
		grid-template-columns: repeat(1, 1fr);

		a {
			font-size: $f-sizeBodySmall;
		}
	}
}
