@use "../global" as *;

.text-image {
	.content {
		display: flex;
		align-items: center;
		gap: $gap-xl;

		.image {
			flex: 1;
		}
		.text {
			flex: 1;
		}
	}

	/* Breakpoints Settings */

	@include mq($until: $desktop) {
		.content {
			flex-direction: column;

			.text {
				order: 1;
			}
			.image {
				order: 2;
			}
		}
	}
}
