@use "../global" as *;

.gb-container {
	&--content__regular {
		@include containerWrap;
	}

	&--content__fullwidth {
		width: 100%;
		padding: 50px $contentPadding;
		@media (max-width: $laptop) {
			padding: 30px $contentPaddingLaptop;
		}

		@media (max-width: $mobile) {
			padding: 30px $contentPaddingMobile;
		}

		& > * {
			@include containerWrap();
			width: 100%;
		}
	}

	&--content__fullwidthmax {
		min-width: 100%;
	}

	&--content__centered {
		* {
			text-align: center;
		}
	}
}
